In [67]:
import os
import time
import pandas_gbq
import pandas as pd

from datetime import datetime
from google.cloud import bigquery

In [68]:
def main(project, query_str):
    """
    This function is the entry point function to fetch the individual files and merge them into a single dataframe.
    """
    client = bigquery.Client(project)
 
    dataframe = (
        client.query(query_str)
        .result()
        .to_dataframe(
        create_bqstorage_client=True,
        )
    )
    return dataframe

In [69]:
project = 'gcp-ent-capstone-dev'
query_str = """
SELECT * 
FROM `gcp-ent-capstone-dev.TestTeam4.d_date_workdays`
"""

df = main(project, query_str)
df

,dt_id,mo_beg_dt,full_dt,workdays_in_mo,workday_of_mo,pct_workday_complete,qtr_beg_dt,workday_of_qtr,workdays_in_qtr,pct_qtr_workday_complete,semi_beg_dt,workday_of_semi,workdays_in_semi,pct_semi_workday_complete,yr_beg_dt,workday_of_yr,workdays_in_yr,pct_yr_workday_complete
0,20180101,2018-01-01 00:00:00.000000000,2018-01-01 00:00:00.000000000,22,0,0.000,2018-01-01 00:00:00.000000000,0,64,0.000,2018-01-01 00:00:00.000000000,0,128,0.000,2018-01-01 00:00:00.000000000,0,253,0.000
1,20180102,2018-01-01 00:00:00.000000000,2018-01-02 00:00:00.000000000,22,1,0.046,2018-01-01 00:00:00.000000000,1,64,0.016,2018-01-01 00:00:00.000000000,1,128,0.008,2018-01-01 00:00:00.000000000,1,253,0.004
2,20180103,2018-01-01 00:00:00.000000000,2018-01-03 00:00:00.000000000,22,2,0.091,2018-01-01 00:00:00.000000000,2,64,0.031,2018-01-01 00:00:00.000000000,2,128,0.016,2018-01-01 00:00:00.000000000,2,253,0.008
3,20180104,2018-01-01 00:00:00.000000000,2018-01-04 00:00:00.000000000,22,3,0.136,2018-01-01 00:00:00.000000000,3,64,0.047,2018-01-01 00:00:00.000000000,3,128,0.023,2018-01-01 00:00:00.000000000,3,253,0.012
4,20180105,2018-01-01 00:00:00.000000000,2018-01-05 00:00:00.000000000,22,4,0.182,2018-01-01 00:00:00.000000000,4,64,0.062,2018-01-01 00:00:00.000000000,4,128,0.031,2018-01-01 00:00:00.000000000,4,253,0.016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,20220626,2022-06-01 00:00:00.000000000,2022-06-26 00:00:00.000000000,22,18,0.818,2022-04-01 00:00:00.000000000,60,64,0.938,2022-01-01 00:00:00.000000000,123,127,0.968,2022-01-01 00:00:00.000000000,123,252,0.488
1822,20220627,2022-06-01 00:00:00.000000000,2022-06-27 00:00:00.000000000,22,19,0.864,2022-04-01 00:00:00.000000000,61,64,0.953,2022-01-01 00:00:00.000000000,124,127,0.976,2022-01-01 00:00:00.000000000,124,252,0.492
1823,20220628,2022-06-01 00:00:00.000000000,2022-06-28 00:00:00.000000000,22,20,0.909,2022-04-01 00:00:00.000000000,62,64,0.969,2022-01-01 00:00:00.000000000,125,127,0.984,2022-01-01 00:00:00.000000000,125,252,0.496
1824,20220629,2022-06-01 00:00:00.000000000,2022-06-29 00:00:00.000000000,22,21,0.954,2022-04-01 00:00:00.000000000,63,64,0.984,2022-01-01 00:00:00.000000000,126,127,0.992,2022-01-01 00:00:00.000000000,126,252,0.500
1825,20220630,2022-06-01 00:00:00.000000000,2022-06-30 00:00:00.000000000,22,22,1.000,2022-04-01 00:00:00.000000000,64,64,1.000,2022-01-01 00:00:00.000000000,127,127,1.000,2022-01-01 00:00:00.000000000,127,252,0.504

In [62]:
df.to_gbq('TestTeam4.d_date_workdays_test2', 'gcp-ent-capstone-dev', 'us-east1', if_exists = 'replace')

In [70]:
# Reading a csv file from the local directory

key_metrics_test_df = pd.read_csv("key_metrics_test.csv")

key_metrics_test_df

,regn_nm,sales_state_nm,classic_dst_cd,mo_id,mo_beg_dt,super_line_split,pg_sub_line_rollup,product_line_type_cd,sale_prem_amt,serv_prem_amt,item_inforce_cnt,nbp_cnt,beg_unif_pif_cnt,retained_unif_pif_cnt
0,Central Region,Dakotas,386,"202,112",12/1/2021,Health,Health,536,0,909.62,NaN,NaN,NaN,NaN
1,Central Region,Dakotas,386,"202,003",3/1/2020,Life,AFLIC,800,0,"12,030.14",NaN,NaN,NaN,NaN
2,Central Region,Dakotas,386,"202,003",3/1/2020,Life,AFLIC,804,0,202.28,NaN,NaN,NaN,NaN
3,Central Region,Dakotas,386,"202,110",10/1/2021,Life,AFLIC,801,0,17.92,NaN,NaN,NaN,NaN
4,Central Region,Dakotas,386,"202,001",1/1/2020,Life,AFLIC,803,0,346.66,NaN,NaN,NaN,NaN
5,Central Region,Dakotas,386,"202,110",10/1/2021,Life,AFLIC,804,0,130.63,NaN,NaN,NaN,NaN
6,Central Region,Dakotas,386,"202,011",11/1/2020,Life,AFLIC,804,0,50.22,NaN,NaN,NaN,NaN
7,Central Region,Dakotas,386,"202,007",7/1/2020,Life,AFLIC,800,0,"8,100.99",NaN,NaN,NaN,NaN
8,Central Region,Dakotas,386,"202,005",5/1/2020,Life,AFLIC,803,0,246.66,NaN,NaN,NaN,NaN
9,Central Region,Dakotas,386,"202,108",8/1/2021,Life,AFLIC,803,0,656.54,NaN,NaN,NaN,NaN
10,Central Region,Dakotas,386,"202,005",5/1/2020,Life,AFLIC,800,0,"9,021.76",NaN,NaN,NaN,NaN
11,Central Region,Dakotas,386,"202,108",8/1/2021,Life,AFLIC,800,0,"32,619.95",NaN,NaN,NaN,NaN
12,Central Region,Dakotas,386,"202,101",1/1/2021,Life,AFLIC,804,0,50.22,NaN,NaN,NaN,NaN
13,Central Region,Dakotas,386,"202,112",12/1/2021,Life,AFLIC,801,0,17.92,NaN,NaN,NaN,NaN
14,Central Region,Dakotas,386,"202,012",12/1/2020,Life,AFLIC,804,0,50.22,NaN,NaN,NaN,NaN
15,Central Region,Dakotas,386,"202,010",10/1/2020,Life,AFLIC,800,0,"10,771.31",NaN,NaN,NaN,NaN
16,Central Region,Dakotas,386,"202,102",2/1/2021,Life,AFLIC,804,0,202.28,NaN,NaN,NaN,NaN
17,Central Region,Dakotas,386,"202,009",9/1/2020,Life,AFLIC,804,0,150.22,NaN,NaN,NaN,NaN
18,Central Region,Dakotas,386,"202,104",4/1/2021,Life,AFLIC,804,0,"1,066.41",NaN,NaN,NaN,NaN

In [71]:
# Writing the file into a table in big query

key_metrics_test_df.to_gbq('TestTeam4.key_metrics_test', 'gcp-ent-capstone-dev', 
                          'us-east1', if_exists = 'replace')

100%|███████████████████████████████████████████| 1/1 [00:00<00:00, 1270.62it/s]

In [72]:
project = 'gcp-ent-capstone-dev'

query_str = """
SELECT * 
FROM `gcp-ent-capstone-dev.TestTeam4.key_metrics_test`
"""

key_metrics_test_from_gbq = main(project, query_str)

key_metrics_test_from_gbq

,regn_nm,sales_state_nm,classic_dst_cd,mo_id,mo_beg_dt,super_line_split,pg_sub_line_rollup,product_line_type_cd,sale_prem_amt,serv_prem_amt,item_inforce_cnt,nbp_cnt,beg_unif_pif_cnt,retained_unif_pif_cnt
0,Central Region,Dakotas,386,"202,112",12/1/2021,Health,Health,536,0,909.62,NaN,NaN,NaN,NaN
1,Central Region,Dakotas,386,"202,003",3/1/2020,Life,AFLIC,800,0,"12,030.14",NaN,NaN,NaN,NaN
2,Central Region,Dakotas,386,"202,007",7/1/2020,Life,AFLIC,800,0,"8,100.99",NaN,NaN,NaN,NaN
3,Central Region,Dakotas,386,"202,005",5/1/2020,Life,AFLIC,800,0,"9,021.76",NaN,NaN,NaN,NaN
4,Central Region,Dakotas,386,"202,108",8/1/2021,Life,AFLIC,800,0,"32,619.95",NaN,NaN,NaN,NaN
5,Central Region,Dakotas,386,"202,010",10/1/2020,Life,AFLIC,800,0,"10,771.31",NaN,NaN,NaN,NaN
6,Central Region,Dakotas,386,"202,110",10/1/2021,Life,AFLIC,801,0,17.92,NaN,NaN,NaN,NaN
7,Central Region,Dakotas,386,"202,112",12/1/2021,Life,AFLIC,801,0,17.92,NaN,NaN,NaN,NaN
8,Central Region,Dakotas,386,"202,001",1/1/2020,Life,AFLIC,803,0,346.66,NaN,NaN,NaN,NaN
9,Central Region,Dakotas,386,"202,005",5/1/2020,Life,AFLIC,803,0,246.66,NaN,NaN,NaN,NaN
10,Central Region,Dakotas,386,"202,108",8/1/2021,Life,AFLIC,803,0,656.54,NaN,NaN,NaN,NaN
11,Central Region,Dakotas,386,"202,003",3/1/2020,Life,AFLIC,804,0,202.28,NaN,NaN,NaN,NaN
12,Central Region,Dakotas,386,"202,110",10/1/2021,Life,AFLIC,804,0,130.63,NaN,NaN,NaN,NaN
13,Central Region,Dakotas,386,"202,011",11/1/2020,Life,AFLIC,804,0,50.22,NaN,NaN,NaN,NaN
14,Central Region,Dakotas,386,"202,101",1/1/2021,Life,AFLIC,804,0,50.22,NaN,NaN,NaN,NaN
15,Central Region,Dakotas,386,"202,012",12/1/2020,Life,AFLIC,804,0,50.22,NaN,NaN,NaN,NaN
16,Central Region,Dakotas,386,"202,102",2/1/2021,Life,AFLIC,804,0,202.28,NaN,NaN,NaN,NaN
17,Central Region,Dakotas,386,"202,009",9/1/2020,Life,AFLIC,804,0,150.22,NaN,NaN,NaN,NaN
18,Central Region,Dakotas,386,"202,104",4/1/2021,Life,AFLIC,804,0,"1,066.41",NaN,NaN,NaN,NaN

In [73]:
if len(key_metrics_test_from_gbq) == len(key_metrics_test_df):
    print("Length of the files are same")

Length of the files are same